<div class="card">
    <div class="font-semibold text-xl mb-4">Таблица ТМЦ</div>
    <p-table [value]="warehouseItems"
        [lazy]="true"
        [paginator]="true"
        [(rows)]="pageSize"
        [(first)]="first"
        [totalRecords]="totalRows"
        [rowsPerPageOptions]="[10, 20, 50]"
        (onLazyLoad)="loadWarehouseItems($event)">
        <ng-template #caption>
            <div class="flex gap-4">
                <span class="grow flex">
                    <input class="grow" pInputText [(ngModel)]="query" placeholder="Поиск"
                        (ngModelChange)="loadWarehouseItems({})">
                </span>
                <span>
                    <p-button icon="pi pi-plus" (onClick)="edit()" label="Добавить"></p-button>
                </span>
            </div>
        </ng-template>
        <ng-template #header>
            <tr>
                <th>#</th>
                <th>Наименование ТМЦ</th>
                <th>Кол-во</th>
                <th>Цена</th>
                <th>Сумма</th>
                <th>Действия</th>
            </tr>
        </ng-template>
        <ng-template #body let-item>
            <tr>
                <td>{{item.id}}</td>
                <td>{{item.warehouseItemType.title}}</td>
                <td>{{item.quantity}}</td>
                <td>{{item.price}}</td>
                <td>{{item.sum}}</td>               
                <td>
                    <p-button icon="pi pi-pencil" (onClick)="edit(item.id)"></p-button>
                    <p-button icon="pi pi-trash" (onClick)="delete(item.id)"></p-button>
                </td>
            </tr>
        </ng-template>
        <!--
        <ng-template #paginatorleft>
            <p-button type="button" icon="pi pi-plus" text />
        </ng-template>
        <ng-template #paginatorright>
            <p-button type="button" icon="pi pi-cloud" text />
        </ng-template>
        -->
    </p-table>
</div>
